Language: Java
BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
BreakBeforeBraces: Allman
ColumnLimit: 140
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
BreakAfterJavaFieldAnnotations: true
SortIncludes: Never
